/* define color palette */

:root {
  --color-primary: #00d9ff;
  --color-secondary: #2584ff;
  --color-heading: #5e508f;
  --color-red: #ff3400;
  --color-body: #918ca4;
  --color-body-white: #ffffff;
  --color-background-icon: #e6f1fc;
}

/* typography */

html {
  /* 62.5% of 16px = 10 px */
  font-size: 62.5%;
}
body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-body);
}
h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
p {
  margin-top: 0rem;
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
  body {
    font-size: 1.8rem;
  }
}

/* links */

a {
  text-decoration: none;
}
.link-arrow {
  text-transform: uppercase;
  color: var(--color-red);
  font-weight: bold;
  font-size: 2rem;
}
.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}
.link-arrow:hover::after {
  margin-left: 10px;
}
@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* badge */

.badge {
  padding: 0.8rem 1.4rem;
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
}
.badge--primary {
  background-color: var(--color-primary);
  color: var(--color-body-white);
}
.badge--secondary {
  background-color: var(--color-secondary);
  color: var(--color-body-white);
}
.badge--small {
  font-size: 1.6rem;
}
@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}

/* lists */

.list {
  color: var(--color-heading);
  font-size: 2rem;
  list-style: none;
  padding-left: 0px;
}
.list--inline .list__item {
  display: inline;
  margin-right: 50px;
}
.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
}
.list--tick .list__item {
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}
@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0rem;
  }
  .list {
    font-size: 1.8rem;
  }
  .list--inline .list__item {
    font-size: 1.8rem;
  }
}

/* icons */

.icon {
  width: 40px;
  height: 40px;
}
.icon--secondary {
  fill: var(--color-secondary);
}
.icon-container {
  width: 80px;
  height: 80px;
  background-color: var(--color-background-icon);
  border-radius: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}
