<section class="block-domain">
  <header class="block__header">
    <h2 class="block__heading">The best webhosting Starting at per month</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia quasi
      perspiciatis est ullam, consequatur dignissimos.
    </p>
  </header>
  <div class="input-group">
    <input type="text" class="input" placeholder="Enter domain name here ..." />
    <button class="btn btn--accent">
      <svg class="icon icon--white">
        <use xlink:href="icons/sprite.svg#search"></use>
      </svg>
      search
    </button>
  </div>
  <ul class="list block-domain__price">
    <li>
      <span class="badge badge--primary">.com $9.26</span>
    </li>
    <li>.sg $7.85</li>
    <li>.ir $2.09</li>
    <li>.xyz $10.25</li>
    <li>.net $50</li>
    <li>.pro $12.95</li>
  </ul>
</section>
