<section class="block container">
  <header class="block__header">
    <h2>Host Оn Тhe Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, magnam?
    </p>
  </header>
  <article class="grid grid--1x2 features">
    <div class="features__content">
      <span class="icon-container">
        <svg class="icon icon--secondary">
          <use xlink:href="icons/sprite.svg#easy"></use>
        </svg>
      </span>
      <h2 class="features__heading">Super Easy to Use</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis,
        debitis.
      </p>
      <a href="" class="link-arrow">learn more</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="images/easy@2x.webp 1x, images/easy@2x.jpg 2x"
      />
      <img class="features__image" src="images/easy@2x.jpg" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 features">
    <div class="features__content">
      <span class="icon-container">
        <svg class="icon icon--secondary">
          <use xlink:href="icons/sprite.svg#computer"></use>
        </svg>
      </span>
      <h2 class="features__heading">Simply Fast Websites</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis,
        debitis.
      </p>
      <a href="" class="link-arrow">learn more</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/fast.webp 1x, images/fast@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="images/fast@2x.webp 1x, images/fast@2x.jpg 2x"
      />
      <img class="features__image" src="images/fast@2x.jpg" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 features">
    <div class="features__content">
      <span class="icon-container">
        <svg class="icon icon--secondary">
          <use xlink:href="icons/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h2 class="features__heading">Wordpress made easy</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis,
        debitis.
      </p>
      <a href="" class="link-arrow">learn more</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/Wordpress.webp 1x, images/Wordpress@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="images/Wordpress@2x.webp 1x, images/Wordpress@2x.jpg 2x"
      />
      <img class="features__image" src="images/Wordpress@2x.jpg" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 features">
    <div class="features__content">
      <span class="icon-container">
        <svg class="icon icon--secondary">
          <use xlink:href="icons/sprite.svg#settings"></use>
        </svg>
      </span>
      <h2 class="features__heading">24/7 Expert Support</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis,
        debitis.
      </p>
      <a href="" class="link-arrow">learn more</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/Support.webp 1x, images/Support@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="images/Support@2x.webp 1x, images/Support@2x.jpg 2x"
      />
      <img class="features__image" src="images/Support@2x.jpg" alt="" />
    </picture>
  </article>
</section>
