<section class="footer">
  <div class="block block--dark footer__block">
    <div class="container grid">
      <div class="collapsible footer__sections">
        <div class="collapsible__header">
          <h3 class="collapsible__heading">Products</h3>
          <span class="icon-container icon--small collapsible__chevron">
            <img src="icons/chevron.svg" alt="collapsible sve icon" />
          </span>
        </div>
        <p class="collapsible__body">WordPress Hosting</p>
        <p class="collapsible__body">Free Automated WordPress</p>
        <p class="collapsible__body">Migrations</p>
        <p class="collapsible__body">Domain Names</p>
        <p class="collapsible__body">Monthly Web Hosting</p>
      </div>
      <div class="collapsible footer__sections">
        <div class="collapsible__header">
          <h3 class="collapsible__heading">company</h3>
          <span class="icon-container icon--small collapsible__chevron">
            <img src="icons/chevron.svg" alt="collapsible sve icon" />
          </span>
        </div>
        <p class="collapsible__body">about</p>
        <p class="collapsible__body">Affiliates</p>
        <p class="collapsible__body">blog</p>
        <p class="collapsible__body">careers</p>
        <p class="collapsible__body">community</p>
        <p class="collapsible__body">news</p>
        <p class="collapsible__body">green hosting</p>
      </div>
      <div class="collapsible footer__sections">
        <div class="collapsible__header">
          <h3 class="collapsible__heading">support</h3>
          <span class="icon-container icon--small collapsible__chevron">
            <img src="icons/chevron.svg" alt="collapsible sve icon" />
          </span>
        </div>
        <p class="collapsible__body">contact</p>
        <p class="collapsible__body">knowledge base</p>
        <p class="collapsible__body">forums</p>
        <p class="collapsible__body">system status</p>
        <p class="collapsible__body">web hosting</p>
        <p class="collapsible__body">dreamCompute</p>
      </div>
      <div class="collapsible footer__sections">
        <div class="collapsible__header">
          <h3 class="collapsible__heading">domains</h3>
          <span class="icon-container icon--small collapsible__chevron">
            <img src="icons/chevron.svg" alt="collapsible sve icon" />
          </span>
        </div>
        <p class="collapsible__body">domain checker</p>
        <p class="collapsible__body">domain transfer</p>
        <p class="collapsible__body">free domain</p>
        <p class="collapsible__body">XYZ domain</p>
        <p class="collapsible__body">cheap ssl certificate</p>
      </div>
      <div class="footer__brand">
        <img src="images/logo.png" alt="" />
        <p class="footer__copyright">Copyright © 2020 mosh</p>
      </div>
    </div>
  </div>
</section>
